.slider-container {
  overflow: hidden;
  background-color: aqua;
  position: relative;
  width: 300px;
  height: 300px;
}

.slides-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lightgreen;
  transition: transform 0.5s ease;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.slides-container > .slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}


.carousel-container {
  display: flex;
  justify-content: center;
  width: 300px;
}

.carousel {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  flex: 0 0 auto;
  min-width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
}

.prev-btn,
.next-btn {
  width: 80px;
}

.active {
  z-index: 1;
  opacity: 1;
}

.slidein-right {
  animation-name: slidein-right;
  animation-duration: 1s;
  animation-timing-function: ease;
}

.slidein-left {
  animation-name: slidein-left;
  animation-duration: 1s;
  animation-timing-function: ease;
}

.slideout-right {
  animation-name: slideout-right;
  animation-duration: 1s;
  animation-timing-function: ease;
}

.slideout-left {
  animation-name: slideout-left;
  animation-duration: 1s;
  animation-timing-function: ease;
}

@keyframes slidein-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideout-right {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes slidein-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideout-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}